<a href="https://colab.research.google.com/github/LuccaBortoloso/kaggle/blob/master/Tabular_playground_series_jul_2021/Databases/Tabular_Playground_Series_July_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Train dataset

In [16]:
data_train = pd.read_csv('train.csv')
data_train.head()

             date_time  deg_C  ...  target_benzene  target_nitrogen_oxides
0  2010-03-10 18:00:00   13.1  ...            12.0                   167.7
1  2010-03-10 19:00:00   13.2  ...             9.9                    98.9
2  2010-03-10 20:00:00   12.6  ...             9.2                   127.1
3  2010-03-10 21:00:00   11.0  ...             9.7                   177.2
4  2010-03-10 22:00:00   11.9  ...             6.4                   121.8

[5 rows x 12 columns]

In [17]:
data_train = data_train.drop(columns=['date_time'])
data_train.head()

   deg_C  relative_humidity  ...  target_benzene  target_nitrogen_oxides
0   13.1               46.0  ...            12.0                   167.7
1   13.2               45.3  ...             9.9                    98.9
2   12.6               56.2  ...             9.2                   127.1
3   11.0               62.4  ...             9.7                   177.2
4   11.9               59.0  ...             6.4                   121.8

[5 rows x 11 columns]

In [18]:
data_train.describe()

             deg_C  relative_humidity  ...  target_benzene  target_nitrogen_oxides
count  7111.000000        7111.000000  ...     7111.000000             7111.000000
mean     20.878034          47.561004  ...       10.237083              204.066784
std       7.937917          17.398731  ...        7.694426              193.927723
min       1.300000           8.900000  ...        0.100000                1.900000
25%      14.900000          33.700000  ...        4.500000               76.450000
50%      20.700000          47.300000  ...        8.500000              141.000000
75%      25.800000          60.800000  ...       14.200000              260.000000
max      46.100000          90.800000  ...       63.700000             1472.300000

[8 rows x 11 columns]

In [19]:
data_train.corr()

                           deg_C  ...  target_nitrogen_oxides
deg_C                   1.000000  ...               -0.205984
relative_humidity      -0.668002  ...                0.178608
absolute_humidity       0.445162  ...               -0.101911
sensor_1                0.017513  ...                0.643044
sensor_2                0.133167  ...                0.604795
sensor_3               -0.145437  ...               -0.427622
sensor_4                0.308202  ...                0.235662
sensor_5               -0.050567  ...                0.708270
target_carbon_monoxide -0.007503  ...                0.806099
target_benzene          0.109757  ...                0.664235
target_nitrogen_oxides -0.205984  ...                1.000000

[11 rows x 11 columns]

In [20]:
data_train = data_train.drop(columns=['deg_C', 'relative_humidity', 'absolute_humidity'])
data_train.head()

   sensor_1  sensor_2  ...  target_benzene  target_nitrogen_oxides
0    1387.2    1087.8  ...            12.0                   167.7
1    1279.1     888.2  ...             9.9                    98.9
2    1331.9     929.6  ...             9.2                   127.1
3    1321.0     929.0  ...             9.7                   177.2
4    1272.0     852.7  ...             6.4                   121.8

[5 rows x 8 columns]

In [35]:
features = ['sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5']
X = data_train[features]
y1 = data_train['target_carbon_monoxide']
y2 = data_train['target_benzene']
y3 = data_train['target_nitrogen_oxides']

In [40]:
#Train test split
X_train, X_val, y1_train, y1_val = train_test_split(X, y1)
X_train, X_val, y2_train, y2_val = train_test_split(X, y2)
X_train, X_val, y3_train, y3_val = train_test_split(X, y3)

In [41]:
model_A = LinearRegression()
model_B = LinearRegression()
model_C = LinearRegression()

model_A.fit(X_train, y1_train)
model_B.fit(X_train, y2_train)
model_C.fit(X_train, y3_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Test dataset

In [21]:
data_test = pd.read_csv('test.csv')
data2.head()

             date_time  deg_C  relative_humidity  ...  sensor_3  sensor_4  sensor_5
0  2011-01-01 00:00:00    8.0               41.3  ...     797.1     880.0    1273.1
1  2011-01-01 01:00:00    5.1               51.7  ...     687.9     972.8    1714.0
2  2011-01-01 02:00:00    5.8               51.5  ...     693.7     941.9    1300.8
3  2011-01-01 03:00:00    5.0               52.3  ...     725.6    1011.0    1283.0
4  2011-01-01 04:00:00    4.5               57.5  ...     871.5     967.0    1142.3

[5 rows x 9 columns]

In [22]:
data2.shape

(2247, 9)

In [43]:
X_test = data_test[features]

predict_A = model_A.predict(X_test)
predict_B = model_B.predict(X_test)
predict_C = model_C.predict(X_test)

print(predict_A)
print(predict_B)
print(predict_C)

[2.07947904 2.0587386  2.07862267 ... 2.08945865 2.0990711  2.10054305]
[10.83468949 10.95669968 10.8780456  ... 10.79388915 10.7692114
 10.86220143]
[427.41865205 569.72013199 463.91148158 ... 383.80889407 368.23637126
 392.00605968]

# Result to csv

In [44]:
result = pd.DataFrame()
result['date_time'] = data_test['date_time']
result['target_carbon_monoxide'] = predict_A
result['target_benzene'] = predict_B
result['target_nitrogen_oxides'] = predict_C
result.head()

             date_time  ...  target_nitrogen_oxides
0  2011-01-01 00:00:00  ...              427.418652
1  2011-01-01 01:00:00  ...              569.720132
2  2011-01-01 02:00:00  ...              463.911482
3  2011-01-01 03:00:00  ...              456.242533
4  2011-01-01 04:00:00  ...              386.974014

[5 rows x 4 columns]

In [45]:
result.to_csv('my_submission.csv', index=False)